    
    .header.cell{
      height:20px;
      width:20px;
      border-radius: 100px;
      font-size: 15px;
      background-color: yellow
    }

    .cell{
      height:40px;
      width:40px;
      border:1px solid black;
      border-radius: 5px;
      margin: 0.5px;
      padding: 10px;
      font-size: 22px;
    } 


    body {
      width:80%;
      background-color: black;
      text-align: center;
    }