
.flex-container {
    display: flex;
    background-color: gray;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
  }


  .box {
    border-radius: 5px;
    margin: 0.5px;
    padding: 10px;
    font-size: 100%;
  }